site_name: tfcoach
site_url: https://marcel2603.github.io/tfcoach/
repo_url: https://github.com/Marcel2603/tfcoach
repo_name: Marcel2603/tfcoach
docs_dir: pages
extra_css:
  - stylesheets/max_width.css
theme:
  name: material
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.tracking
    - navigation.path
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - tables
  - toc:
      permalink: true
  - pymdownx.superfences:
      # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
plugins:
  - search
  - mermaid2
  - autolinks
  - awesome-pages
  - git-revision-date-localized:
      fallback_to_build_date: true
