name: Test & Lint
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'tools/**'
  pull_request :
    paths-ignore:
      - 'docs/**'
      - 'tools/**'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26.x'
      - name: Lint
        run: make lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.26.x'
      - name: Test with the Go CLI
        run: make cover
